
   <%- include('parts/header')%>
   <%- include('parts/nav')%>

    <form action="/orders" method="POST">
        <div style="margin: 50px auto;">
            <input type="text" name="address" id="address" class="form-controll" required>
            <input type="hidden" name="orderId" value="<%= product_Id%>">

            <input type="hidden" name="redirectTo" value="cart">
            <input type="hidden" name="check" value="<%= check%>">
            
            <input type="submit" class="btn btn-info" value="order" >          
        </div>
        
        
    </form>
    
   
   <%- include('parts/footer')%>
